---
import { getAPIRoute } from "../../scripts/api";
import { getUserData } from "../../scripts/userData";
import UserProfile from "../user-profile/UserProfile.astro";

const token = Astro.cookies.get("token");
const userData = token?.value ? await getUserData(token.value) : null;

const wsRoute = getAPIRoute("ws");

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<header data-wsroute={wsRoute} data-token={token}>
  <h1>{title}</h1>
  {
    userData && (
      <UserProfile
        userId={userData.userId}
        avatar={userData.avatar}
        userTag={userData.userTag}
      />
    )
  }
</header>

<style lang="scss">
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--bg);
    border-bottom: var(--border);
  }

  @media (max-width: 768px) {
    h1 {
      display: none;
    }
  }
</style>

<script>
  import { $toastText } from "../../scripts/stores";
  import {
    isAppealAlert,
    type Alert,
    type AlertType,
    isPunishmentAlert,
  } from "../../scripts/alerts";
  import { FormattedPunishmentTypes } from "../../scripts/api";

  // setup the websocket responsible for polling real-time data only when we're not already on the alerts page
  if (location.pathname !== "/alerts") {
    // get the nav element
    const header = document.querySelector("header")!;
    const wsRoute = header.dataset.wsroute;
    const token = header.dataset.token;

    if (wsRoute && token) {
      const wsURL = new URL(wsRoute);
      wsURL.searchParams.append("token", token);
      const ws = new WebSocket(wsURL);

      ws.onmessage = (msg: MessageEvent<string>) => {
        if (msg.data === "ping" || msg.data.startsWith("welcome")) return;

        const alert = JSON.parse(msg.data) as Alert<AlertType>;

        const alertHistory = JSON.parse(
          localStorage.getItem("alertHistory") ?? "[]",
        ) as Alert<AlertType>[];

        alertHistory.push(alert);
        localStorage.setItem("alertHistory", JSON.stringify(alertHistory));

        if (isAppealAlert(alert)) {
          $toastText.set(
            `Your appeal has been ${alert.data.status}: ${alert.data.reason}!`,
          );
        }

        if (isPunishmentAlert(alert)) {
          $toastText.set(
            // alert.data.mod is just a random user id, but this'll later be replaced by the API with an actual username 👍
            `You have been ${FormattedPunishmentTypes[alert.data.type]} by ${
              alert.data.mod
            } for ${alert.data.reason}!`,
          );
        }
      };
    }
  }
</script>
