---
import { localDate } from "../scripts/functions";
import PunishmentMenu from "./PunishmentMenu.astro";

interface Props {
  id: string;
  type: number;
  reason: string;
  moderator: string;
  at: number;
  until: number;
  active: boolean;
}

const { id, type, reason, moderator, at, until, active } = Astro.props;

let untilString = "";
const atString = localDate(at);
const types = ["Warning", "Mute", "Kick", "Ban"];

if ((types[type] === "Mute" || types[type] === "Ban") && until === -1) {
  if (active === true) {
    untilString = "Permanent";
  }
} else if (until !== -1) {
  untilString = localDate(until);
}
---

<div class:list={["punishment", active ? "active" : ""]} data-id={id}>
  <p><b>Type:</b>{types[type]}</p>
  <p><b>Reason:</b>{reason}</p>
  <p><b>Moderator:</b>{moderator}</p>
  <p><b>At:</b>{atString}</p>
  {
    untilString !== "" ? (
      <p>
        <b>Until:</b>
        {untilString}
      </p>
    ) : (
      ""
    )
  }
  <PunishmentMenu {id} {active} />
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--bg);
    padding: 1rem;
    border-radius: var(--border-radius);
    border: var(--border);
    transition: var(--transition);
    position: relative;

    &:not(.active) {
      opacity: 50%;
    }
  }

  p {
    hyphens: auto;
    display: inline-flex;
  }

  b {
    margin-right: 0.25rem;
  }
</style>
